.comments__section {
    text-align: start;
    width: 490px;
    margin: 15vh auto 0 auto;
}

.title__section-page {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1.3em;
}

.description {
    color: var(--secondary-color);
}

#description {
    border: none;
    background-color: var(--edge-color);
    margin: 1em 0 .5em 0;
    padding: 1em;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--main-font);
    line-height: 22px;
    box-sizing: border-box;
    border-radius: 4px;
}

.button__post {
    width: 490px;
}

/*Mobile*/
@media only screen and (max-width: 400px) {
    .comments__section {
        width: 90vw;
        margin: 1em auto;
    }

    #description {
        width: 90vw;
    }

    .button__post {
        width: 90vw;
    }
}